services:
  php-fpm:
    build:
      context: .
      dockerfile: ./docker/php-fpm.development.dockerfile
    image: localhost/tm-test-assignment/php-fpm:latest
    volumes:
      - ./server:/app:rw,z
    environment:
      APP_ENV: 'dev'
    networks:
      - tm-test-assignment
      - internet
  pg:
    ports:
      - 5432:5432
    networks:
      - internet
  pgadmin:
    build:
      context: ./docker
      dockerfile: pgadmin4.dockerfile
      args:
        PG_DATABASE_USER: ${DATABASE_USER}
        PG_DATABASE_PASSWORD: ${DATABASE_PASSWORD}
    image: localhost/tm-test-assignment/pgadmin4:latest
    restart: on-failure
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - 8081:80
    networks:
      - tm-test-assignment
      - internet
    depends_on:
      - pg
