.tm-block a {
  text-decoration: none;
}

.tm-block-data {
  background: rgba(158, 158, 158, 40%);
  color: #1a1d20;
  padding: 16px;
  border-radius: 5px;
}

.tm-block-data:hover {
  transition: color, background-color 140ms;
  color: #000000;
  background-color: rgba(158, 158, 158, 20%);
}

.tm-block-data:hover > .tm-block-subdata {
  transition: color 140ms;
  color: #1a1d20;
}

.tm-block-data p {
  margin-bottom: 0;
}

.tm-block-subdata {
  font-size: 0.8em;
  margin-top: 18px;
  color: #5c636a;
}

.tm-incorrect-answer-checkbox + label {
  color: #dc3545;
}

.tm-correct-answer-checkbox + label {
  color: #198754;
}

.tm-block-data.tm-block-accent-green {
  background: rgba(25, 135, 84, 40%);
}

.tm-block-data.tm-block-accent-green:hover {
  transition: color, background-color 140ms;
  color: #000000;
  background-color: rgba(25, 135, 84, 20%);
}

.tm-block-data.tm-block-accent-red {
  background: rgba(220, 53, 69, 40%);
}

.tm-block-data.tm-block-accent-red:hover {
  transition: color, background-color 140ms;
  color: #000000;
  background-color: rgba(220, 53, 69, 20%);
}
