<div>
  <h3 class="mb-3">{{ header }}</h3>

  <div class="row">
    {% if assessments|length > 0 %}
      {% for assessment in assessments %}
        {% include '_components/index/assessment-block.html.twig' with {
          assessment: assessment,
        } only %}
      {% endfor %}
    {% else %}
      <p><em>No assessments are available at the moment.</em></p>
    {% endif %}
  </div>
</div>
