<div class="col-3 mb-3 tm-assessment-block">
  <a href="{{ url('app_assessment_index', { uuidBase32: assessment.uuidBase32() }) }}">
    <div class="tm-assessment-info">
      <h5>{{ assessment.name }}</h5>
      <p>{{ assessment.description }}</p>
      <p class="tm-assessment-creation-time">
        <em>Created at:</em> {{ assessment.createdAt|date('d.m.Y h:i:s') }}
      </p>
    </div>
  </a>
</div>
