<div class="col-3 mb-3 tm-assessment-block">
  <a href="{{ href_url }}">
    <div class="tm-assessment-info">
      <h5>{{ block_data_header }}</h5>

      {% if block_data_description|default(false) %}
        <p>{{ block_data_description }}</p>
      {% endif %}

      {% if block_data_creation_time|default(false) %}
        <p class="tm-assessment-creation-time">
          <em>Created at:</em> {{ block_data_creation_time }}
        </p>
      {% endif %}
    </div>
  </a>
</div>
