<div class="tm-assessment-list mt-4">
  <h3 class="mb-3">{{ header }}</h3>

  <div class="row">
    {% if results|length > 0 %}
      {% for result in results %}
        {% include '_components/index/result-block.html.twig' with {
          result: result,
        } only %}
      {% endfor %}
    {% else %}
      <p><em>You didn't pass any assessment yet.</em></p>
    {% endif %}
  </div>
</div>
